.about {
  padding: 10rem 0;

  img {
    width: 50rem;
    max-width: 100%;
  }
  .word {
    @include graph(1.7rem);
    font-weight: 500;
    margin: 2rem 0;
  }
}

.control {
  font-size: 3rem;
  color: $secondary;
}
