.footer {
  padding: 5rem 0;
  background-color: $secondary;

  span {
    color: $white;
    font-size: 2rem;
  }
  h3 {
    color: $main;
    font-size: 4rem;
    margin: 2rem 0;
  }
  .links a {
    font-size: 1.9rem;
    margin: 0 1.5rem;
  }
  .copyright {
    font-size: 1.7rem;
    margin: 2rem 0;
  }
  .social svg {
    margin: 0 3.5rem;
  }
}